.mainwrapper-form {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.formvald {
    grid-column: 5 / 11;
    color: #5882c0;
}

.formvald h2{
    font-size: 2em;
    margin: 20px 0 20px 25px;
}

input[type=text]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
}

input[type=email]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
}

input[type=tel]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
}

input[type=date]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
    color: #b5d3f2;
    font-size: 1.1em;
}

label{
    color: #b5d3f2;
    font-size: 1.5em;
}

.checkbox{
    width: 1.3em;
    height: 1.3em;
    margin: 0.8em;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #b5d3f2;
    outline: none;
    cursor: pointer;
}
.selectbox{
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: 2px solid #b5d3f2;
    color: #b5d3f2;
    font-size: 1.2em;
}
::placeholder{
    color: #b5d3f2;
    font-size: 1.5em;
}
.optiontext{
    font-size: 1.5em;
}
button{
    width: 100%;
    color: #b5d3f2;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 1.3em;
    background-color: white;
    border: 2px solid #b5d3f2;
}