.mainwrapper-kontakt {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.mainwrapper-book {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.mainwrapper-medlem {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.formvald-medlem{
    grid-column: 5 / 11;
    color: #5882c0;
}

#pic1{
    width: 100%;
}
.h3medlem{
    margin-left: 5%;
}

.p-medlem{
    font-size: 1.2em;
    margin-left: 5%;
}

.formvald-kontakt {
    grid-column: 5 / 11;
    color: #5882c0;
}

.formvald-book {
    grid-column: 7 / 14;
    color: #5882c0;
}

.picwrapper{
    grid-column: 2 / 6;
}

.formvald-medlem h2{
    font-size: 2em;
    margin-left: 5%;
}

.formvald-book h2{
    font-size: 2em;
    margin: 20px 0 20px 25px;
}

.formvald-kontakt h2{
    font-size: 2em;
    margin: 20px 0 20px 25px;
}

input[type=kommentar]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
    height: 100px;
}

input[type=email]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
}

input[type=text]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
}

input[type=tel]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
}

input[type=date]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
    color: #b5d3f2;
    font-size: 1.1em;
}

input[type=time]{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
    color: #b5d3f2;
    font-size: 1.1em;
}

.textarea-form{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #b5d3f2;
    color: #b5d3f2;
    font-size: 1.4em;
}

label{
    color: #b5d3f2;
    font-size: 1.5em;
}

.checkbox{
    width: 1.3em;
    height: 1.3em;
    margin: 0.8em;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #b5d3f2;
    outline: none;
    cursor: pointer;
}
.selectbox{
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: 2px solid #b5d3f2;
    color: #b5d3f2;
    font-size: 1.2em;
}
::placeholder{
    color: #b5d3f2;
    font-size: 1.5em;
}
.optiontext{
    font-size: 1.5em;
}
button{
    width: 100%;
    color: #b5d3f2;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 1.3em;
    background-color: white;
    border: 2px solid #b5d3f2;
}

@media only screen and (max-width: 600px) {
    .formvald-book {
        grid-column: 3 / 13;
        color: #5882c0;
    }

    .formvald-medlem {
        grid-column: 3 / 13;
        color: #5882c0;
    }

    .formvald-kontakt {
        grid-column: 3 / 13;
        color: #5882c0;
    }

    .picwrapper{
        display: none;
    }
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
textarea:focus:-webkit-textarea-placeholder { color:transparent; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Caption', sans-serif;
}

body {
  position: relative;
}
body:after {
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(Media/floor2.png); 
  background-position: center;
  width: 100%;
  height: 100%;
  opacity : 0.3;
  z-index: -1;
}

/* ==========================================================================
 Header
  ========================================================================= */
.headermain{
  position: sticky;
  background-color: transparent;
  top: 0;
  z-index: 500;
  filter: drop-shadow(0 7px 6px rgba(0, 0, 0, 0.4));
}

header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 20% 1fr;
  background-size: cover;
  height: 80px;
  transition: background-color 1s ease 0s;
  clip-path: polygon(50% 0%, 100% 0, 100% 60%, 97% 100%, 3% 100%, 0% 60%, 0 0);
}

header .navigation {
  justify-self: end;
  margin-top: 2em;
  margin-right: 1em;
}

header .navigation ul li {
  display: inline-block;
  padding: 0 .8em 0 .8em;
}

header .navigation ul li a {
  font-size: 1.2em;
  text-decoration: none;
  color: whitesmoke;
  transition: color 200ms ease-in-out;
}

header .navigation ul li a:hover {
  color: #9acef2;
}

.hambruger {
  display: none;
}

#hamburger {
  display: none;
  color: #FF7F4F;
}

@media only screen and (max-width: 1200px) {
  header {
      display: block;
      text-align: center;
      height: auto;
      padding-bottom: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }

  #hamburger {
      display: block;
  }

  .hamburger {
      color: white;
      position: absolute;
      top: 1em;
      right: 1em;
      z-index: 9;
      font-size: 2em;
      cursor: pointer;
  }

  header .navigation {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(-1000px);
      transition: transform 300ms ease-in-out;
      background-color: #2B2B2B;
      margin: 0;
  }

  header .navigation ul li {
      display: block;
      color: transparent;
  }

  header .navigation-mobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #2B2B2B;
      z-index: 5;
      transform: translateY(0px) !important;
      /* transition: transform 300ms ease-in-out; */
  }

  header .navigation-mobile ul li a {
      color: white;
      display: inline-block;
      text-decoration: none;
      margin-top: 4em;
  }

  header figure {
      margin: 0;
      padding: 4em;
  }
}

.logo{
  height: 60px;
  margin: 1vh 2vw;
}

/* ==========================================================================
 Hero area
 ========================================================================== */
* {box-sizing:border-box}

 .text {
  font-family: 'Anton', sans-serif;
   color: #9acef2;
   font-size: 70px;
   padding: 8px 50px;
   position: absolute;
   top: 10vh;
   width: 100%;
   text-align: left;
 }

 .subtext { 
   color: #f2f2f2;
   font-size: 20px;
   padding: 8px 50px;
   position: absolute;
   top: 20vh;
   width: 100%;
   text-align: left;
 }
 

.slideshow {
  top: -80px;
  width: 100%;
  height: 50vh;
  background-color: lightgrey;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 0px 0px 25px 25px;
  clip-path: polygon(50% 0%, 100% 0, 100% 92%, 97% 100%, 3% 100%, 0 92%, 0 0);

}

.slideimg {
  width: 100%;
  margin-top: -500px;
  position: absolute;
  background-color: white;
  border-radius: 0 0 25px 25px;
}

.slideimg.hide {
  transition: transform 2s ease, opacity 0.5s ease 0.5s;
  opacity: 0;
  transform: translateX(80%);
}

.slideimg:first-child {
  z-index: 4;
}

.slideimg:nth-child(2) {
  z-index: 3;
}

.slideimg:nth-child(3) {
  z-index: 2;
}

.slideimg:last-child {
  z-index: 1;
}

main{
  height: 2000px;
}
.rainbow{
  background-image: url(), linear-gradient(45deg, #aa1100, #ff4400, #ffbb11, #55aa00, #000055, #fb0082);
  background-size:cover;
  background-color: transparent;
  background-blend-mode: screen;
  animation: filter 0.5s ease-in-out infinite;
}

@keyframes filter {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
    transform: rotateX(10deg)
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    transform: rotateX(-10deg)
  }
}

*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  top: -300px;
	max-width: 90%;
	margin: 0 20px;
  grid-gap: 10px;
  display: flex;
	flex-wrap: wrap;
  }
  
  .wrapper-medlemskab {
	display: flex;
	flex-wrap: wrap;
  }
  
  .wrapper-medlemskab {
	display: grid;
  margin: 0 8vw;
  margin-bottom: 50px;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 50px;
  }

  .wrapper{
    display: grid;
    margin: 0 auto;
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fill, minmax(80% 1fr));
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 50px;
  }
  
  .panel-medlemskab {
	margin-left: 5px;
	margin-right: 5px;
	flex: 1 1 500px;
  height: 800px;
  overflow: hidden;
	content: contain;
	background: rgb(138,252,255);
  background: linear-gradient(122deg, rgba(138,252,255,0.5494572829131652) 0%, rgba(205, 208, 221, 0.87) 42%);
	contain: cover;
	display: flex;
  box-shadow: -8px 7px 6px rgba(0, 0, 0, 0.1);
  }

  .panel {
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 500px;
    height: 300px;
    overflow: hidden;
    content: contain;
    background: rgb(138,252,255);
    background: linear-gradient(122deg, rgba(138,252,255,0.5494572829131652) 0%, rgba(205, 208, 221, 0.87) 42%);
    contain: cover;
    display: flex;
    box-shadow: -8px 7px 6px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 150px 20% 10% 70%;
    justify-content: center;
    align-items: bottom;
    clip-path: polygon(4% 0, 96% 0, 100% 10%, 100% 89%, 96% 100%, 4% 100%, 0 89%, 0 12%);
  
    }

  @supports (display: grid) {
	.wrapper > * {
	  margin: 0;
	}
  }



.figure-medlemskab img{
  margin-top: -13px;
  width: 100%;
  height: 326px;
  clip-path: polygon(100% 0, 100% 42%, 50% 61%, 0 42%, 0 0, 50% 18%);
}

.figure img{
  grid-column: 2 / 3;
  grid-row: 1;
  position: absolute;
  width: calc(35vw + (300 - 35) * ((100vw - 300px) / (1600 - 300)));
  height: 300px;
  clip-path: polygon(42% 0, 52% 53%, 41% 100%, 8% 100%, 17% 51%, 8% 0);
  transition: 1s ease-in-out;
  opacity: 0.7;

}

.figure img:hover{
  animation: seehere 0.5s ease-in-out infinite;
  transition: 300ms ease-in-out;
}

@keyframes seehere {
  0% {
transform: translateX(0)
  }
  50% {
    transform: translateX(20px)
  }
  100%
  {
    transform: translateX(0)
  }
}

figure h2,
figure h4 {
margin: 0;
}

.figure-medlemskab h2 {
text-transform: uppercase;
font-size: 2.5em;
font-family: 'Open Sans Condensed', sans-serif;
margin-top: -5vw;
font-weight: 800;
color: #000000;
text-align: center;
padding-bottom: 20px;
}
.figure-medlemskab h4 {
display: grid;
}

h2 {
grid-column: 1 / 2;
grid-row: 1;
text-transform: uppercase;
font-size: 2em;
font-family: 'PT Sans Caption', sans-serif;
font-weight: 800;
color: #000000;
writing-mode: vertical-rl;
align-self: center;

}
h4 {
grid-row: 1;
grid-column: 4 / 5;
display: grid;
width: 50vw;
font-weight: 700;
padding-left: 30px;
padding-right: 30px;
color: #000000;

font-size: calc(6px + (18 - 6) * ((100vw - 300px) / (1600 - 300))); 
font-family: 'Open Sans Condensed', sans-serif;
vertical-align: middle;
}

figure a {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
justify-self: center;
align-self: center;
line-height: 20px;

}

.figure-medlemskab h3{
display: grid;
padding-left: 30px;
font-size: 2em;
font-family: 'Open Sans Condensed', sans-serif;
}

/* ==========================================================================
Footer
 ========================================================================== */

 footer {
  width: 100%;
  background-color: #a9afc2
}


.footer_grid {
  width: 85%;
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer_info span {
  display: block;
}

.footer_title {
  font-weight: bold;
}

@media only screen and (max-width: 950px) {
  .footer_grid {
      grid-template-columns: 1fr 1fr;
      row-gap: 1em;
  }

  .footer_info {
      font-size: 15px;
  }

}

